Real time smoke detection.json
[
    {
        "id": "490a6b7a435bb9f9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e999e1c2ee5f463",
        "type": "server-state-changed",
        "z": "490a6b7a435bb9f9",
        "name": "Smoke Detector",
        "server": "349e6d7df7bdd45f",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 180,
        "wires": [
            [
                "2bd2ea34ceb4a66d"
            ]
        ]
    },
    {
        "id": "2bd2ea34ceb4a66d",
        "type": "switch",
        "z": "490a6b7a435bb9f9",
        "name": "Smoke Status",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "ok",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "warning",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "emergency",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 220,
        "wires": [
            [],
            [
                "8d0a3ee36988d1be"
            ],
            [
                "035cd3d6f598b3c8"
            ]
        ]
    },
    {
        "id": "8d0a3ee36988d1be",
        "type": "function",
        "z": "490a6b7a435bb9f9",
        "name": "Warning",
        "func": "msg ={\n    payload: \"Smoke Warning\",\n    topic: \"Smoke Warning\",\n    priority: 0,\n    sound: \"updown\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "0e5fa24a09a4c7e4"
            ]
        ]
    },
    {
        "id": "035cd3d6f598b3c8",
        "type": "function",
        "z": "490a6b7a435bb9f9",
        "name": "Emergency",
        "func": "msg ={\n    payload: \"Smoke Emergency\",\n    topic: \"Smoke Emergency\",\n    priority: 0,\n    sound: \"updown\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "1c4b57a39072ac97"
            ]
        ]
    },
    {
        "id": "0e5fa24a09a4c7e4",
        "type": "AnamicoAlarmSensor",
        "z": "490a6b7a435bb9f9",
        "name": "Alarm",
        "panel": "73b9f4ac6d1b1f31",
        "alarmStates": "1",
        "triggerType": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "1c4b57a39072ac97",
        "type": "api-call-service",
        "z": "490a6b7a435bb9f9",
        "name": "Door open",
        "server": "349e6d7df7bdd45f",
        "version": 3,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 790,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "349e6d7df7bdd45f",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    },
    {
        "id": "73b9f4ac6d1b1f31",
        "type": "AnamicoAlarmPanel",
        "name": "SmokeDetector"
    }
]