Smoke detection Simulation.json
[
    {
        "id": "5fc65101ef554c6f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85c7cf27.1e66e",
        "type": "ui_template",
        "z": "5fc65101ef554c6f",
        "group": "c467b276.39485",
        "name": "Weather symbol",
        "order": 7,
        "width": "3",
        "height": "3",
        "format": "<div ng-bind-html=\"msg.payload\" style=\"font-size: 50pt\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1126.8329544067383,
        "y": 563.666446685791,
        "wires": [
            []
        ]
    },
    {
        "id": "f818505543f28813",
        "type": "inject",
        "z": "5fc65101ef554c6f",
        "name": "Smoke",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "652fd150569560a6"
            ]
        ]
    },
    {
        "id": "652fd150569560a6",
        "type": "file in",
        "z": "5fc65101ef554c6f",
        "name": "",
        "filename": "C:\\Users\\KARTHIKA\\Downloads\\smoke.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "8ed6f3b736e266cd"
            ]
        ]
    },
    {
        "id": "8ed6f3b736e266cd",
        "type": "csv",
        "z": "5fc65101ef554c6f",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "smoke",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "822a7aa24c8fb57c"
            ]
        ]
    },
    {
        "id": "0ba5a9fb855d1a82",
        "type": "debug",
        "z": "5fc65101ef554c6f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "d8348c550fd59df8",
        "type": "change",
        "z": "5fc65101ef554c6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Smoke Emergency",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "0ba5a9fb855d1a82"
            ]
        ]
    },
    {
        "id": "822a7aa24c8fb57c",
        "type": "switch",
        "z": "5fc65101ef554c6f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "d8348c550fd59df8"
            ]
        ]
    },
    {
        "id": "c467b276.39485",
        "type": "ui_group",
        "name": "Outside",
        "tab": "7894fc0d.fc8084",
        "order": 1,
        "disp": true,
        "width": "7"
    },
    {
        "id": "7894fc0d.fc8084",
        "type": "ui_tab",
        "name": "Climate",
        "icon": "dashboard",
        "order": 1
    }
]